<%= render 'houses/house_info' %>
<%= form_for [@house, @comment] do |f| %>
<div class="card card mx-auto my-5" style="max-width: 70%;" >
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="field mt-3 text-center">
      <%= f.label :type,"口コミの種類を選んでください。" %><br />
      <%= f.radio_button :type, "true" %>
      <%= f.label :type, "内覧", {value: true, style: "display: inline-block;",class: "m-1"} %>
      <%= f.radio_button :type, "false" %>
      <%= f.label :type, "以前住んでいた", {value: false, style: "display: inline-block;",class: "m-1"} %>
      </div>
      <div class="my-3 text-center" id="star">
        <%= f.label :star,"総合評価", class:' text-center' %>
        <%= f.hidden_field :star, id: :review_star ,class: " text-center" %>
      </div>
      <div>
        <%= f.text_field :title,placeholder:"タイトル",style:"width: 100%;" %>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <%= f.text_area :content,placeholder:"口コミ本文を入れてください",style:"width: 100%; height:400px;" %>
      </div>
      <div class="card my-3" >
        <div class="card-body">
          <h4 class="card-title">清潔さ</h4>
          <p class="card-text">共用部は綺麗でしたか？<br>(例：清潔な物件→星５つ)</p>
          <div class="form-group row ml-1" id="clean_review" >
            <%= f.hidden_field :clean_review, id: :review_star %>
          </div>
        </div>
      </div>
      <div class="card my-3 " >
        <div class="card-body">
          <h4 class="card-title">騒音</h4>
          <p class="card-text">周囲の生活音はどの程度聞こえますか？<br>(例：周囲の音が全く気にならない→星５つ)</p>
          <div class="form-group row ml-1" id="houserule_review" >
            <%= f.hidden_field :houserule_review, id: :review_star %>
          </div>
        </div>
      </div>
      <div class="card my-3" >
        <div class="card-body">
          <h4 class="card-title">所在地</h4>
          <p class="card-text">不便に感じることはありましたか？<br>(例：便利な所在地であった→星５つ)</p>
          <div class="form-group row ml-1" id="location_review" >
            <%= f.hidden_field :location_review, id: :review_star %>
          </div>
        </div>
      </div>
      <div class="card my-3" >
        <div class="card-body">
          <h4 class="card-title">人間関係</h4>
          <p class="card-text mb-0">住民同士でコミュニケーションをとっていましたか？<br>(例：頻繁にコミュニケーションする→星５つ)</p>
          <div class="form-group row ml-1" id="com_review">
            <%= f.hidden_field :com_review, id: :review_star %>
          </div>
        </div>
      </div>  
      <div class="text-center">
       <%= f.submit button_value,class: "btn comment_submit" %>
      </div>
    </li>
  </ul>
</div>
  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'comment[star]',
    half: false,
  });

  $('#clean_review').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'comment[clean_review]',
    half: false,
  });

  $('#houserule_review').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'comment[houserule_review]',
    half: false,
  });

  $('#location_review').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'comment[location_review]',
    half: false,
  });

  $('#com_review').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'comment[com_review]',
    half: false,
  });
  </script>  
 

<% end %>