<%= form_for [@house, @comment] do |f| %>
  <div class="field">
    <%= f.label :type,"口コミの種類を選んでください。" %><br />
    <%= f.select :type ,[['内覧',true],['以前住んでいた',false]] %>
  </div>
  <div>
    <%= f.label :title%>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content%>
    <%= f.text_field :content %>
  </div>



  <div>
    <%= f.label :clean_review%>
    <%= f.text_field :clean_review %>
  </div>

  <div>
    <%= f.label :houserule_review%>
    <%= f.text_field :houserule_review %>
  </div>

  <div>
    <%= f.label :location_review%>
    <%= f.text_field :location_review %>
  </div>

  <div>
    <%= f.label :com_review%>
    <%= f.text_field :com_review %>
  </div>
  <div>
    <%= f.submit button_value %>
  </div>
    <div class="form-group row" id="star">
    <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :review_star %>
  </div>

  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
 
    scoreName: 'comment[star]',
    half: false,
  });
  </script>  

<% end %>