<%= form_for [@house, @comment] do |f| %>
  <div class="field">
    <%= f.label :type,"口コミの種類を選んでください。" %><br />
    <%= f.radio_button :type, "true" %>
    <%= f.label :type, "内覧", {value: true, style: "display: inline-block;"} %>
    <%= f.radio_button :type, "false" %>
    <%= f.label :type, "以前住んでいた", {value: false, style: "display: inline-block;"} %>
  </div>
  <div class="form-group row" id="star">
    <%= f.label :star, class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :star, id: :review_star %>
  </div>
  <div>
    <%= f.label :title%>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content%>
    <%= f.text_field :content %>
  </div>

  <div class="form-group row" id="clean_review">
    <%= f.label :clean_review, class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :clean_review, id: :review_star %>
  </div>
  <div class="form-group row" id="houserule_review">
    <%= f.label :houserule_review, class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :houserule_review, id: :review_star %>
  </div>
  <div class="form-group row" id="location_review">
    <%= f.label :location_review, class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :location_review, id: :review_star %>
  </div>

  <div class="form-group row" id="com_review">
    <%= f.label :com_review,class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :com_review, id: :review_star %>
  </div>
  <div>
    <%= f.submit button_value %>
  </div>


  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'comment[star]',
    half: false,
  });

  $('#clean_review').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'comment[clean_review]',
    half: false,
  });

  $('#houserule_review').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'comment[houserule_review]',
    half: false,
  });

  $('#location_review').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'comment[location_review]',
    half: false,
  });

  $('#com_review').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    scoreName: 'comment[com_review]',
    half: false,
  });
  </script>  
 

<% end %>