<%= render "error_messages" %>
<h1>編集</h1>
<%= form_for [@house, @comment] do |f| %>
  <div class="field">
    <%= f.label :type,"口コミの種類を選んでください。" %><br />
    <%= f.select :type ,[['内覧',true],['以前住んでいた',false]] %>
  </div>
  <div>
    <%= f.label :title%>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content%>
    <%= f.text_field :content %>
  </div>

  <div>
    <%= f.label :star%>
    <%= f.text_field :star %>
  </div>

  <div>
    <%= f.label :clean_review%>
    <%= f.text_field :clean_review %>
  </div>

  <div>
    <%= f.label :houserule_review%>
    <%= f.text_field :houserule_review %>
  </div>

  <div>
    <%= f.label :location_review%>
    <%= f.text_field :location_review %>
  </div>

  <div>
    <%= f.label :com_review%>
    <%= f.text_field :com_review %>
  </div>
  <div>
    <%= f.submit 'コメントする' %>
  </div>

<% end %>