<h1>口コミ一覧</h1>
<%= link_to '口コミを投稿する', new_house_comment_path(house_id: params[:house_id]) %>
<% @comments.each do |comment|%>
<div class=card>
  <% if comment.type.present? %>
    <p>内覧</p>
  <% else %>
    <p>以前住んでいた</p>
  <% end %>
  <p> タイトル: <%= comment.title%></p>
  <p>内容:<%= comment.content%></p>
  <p>評価 :<%= comment.star%></p>
  <p>清潔感: <%= comment.clean_review%></p>
  <p>ハウスルール遵守: <%= comment.houserule_review%></p>
  <p>利便性: <%= comment.location_review%></p>
  <p>住民同士のコミュニケーション: <%= comment.com_review%></p>
  <p> ユーザー名: <%= comment.user.name%></p>
  <p>物件名: <%= @house.name%></p>
 </div>
<% end %>
