<%= render 'houses/house_info' %>


<% if @comments.present? %>
<div class="m-5">
<div class=" text-center m-5"> 
  <%= link_to '口コミを投稿する', new_house_comment_path(house_id: params[:house_id]),class:"btn comment_btn text-center"%>
</div>
<div class=" review-container" >
<h4 class="mb-3"><i class="fas fa-star"style="color:#FFA500;"></i><%= @comments.average(:star).round(1)%> (<%= @comments.count%>件のレビュー) </h4>
<div class="review_content ">
  <h5 class="review_item">清潔感 <%= @comments.average(:clean_review).round(1)%></h5>
  <div class="graph review_item  "> 
      <% if @comments.average(:clean_review).round(1) == 5 %>
      <span class="bar" style="width: 100%;"></span>
      <% elsif @comments.average(:clean_review).round(1) > 4 %>
        <span class="bar" style="width: 80%;"></span>
      <% elsif @comments.average(:clean_review).round(1) > 3 %>
        <span class="bar" style="width: 60%;"></span>
      <% elsif @comments.average(:clean_review).round(1) > 2%>
        <span class="bar" style="width: 40%;"></span>
      <% elsif @comments.average(:clean_review).round(1) > 1 %>
        <span class="bar" style="width: 20%;"></span>
      <% elsif @comments.average(:clean_review).round(1)== 0 %>
        <span class="bar" style="width: 0%;"></span>
      <% end %>
  </div>
</div>

<div class="review_content">
  <h5 class="review_item" >騒音 <%= @comments.average(:houserule_review).round(1)%></h5>
  <div class="graph review_item" >
     <% if @comments.average(:houserule_review).round(1) == 5 %>
      <span class="bar" style="width: 100%;"></span>
      <% elsif @comments.average(:houserule_review).round(1) > 4 %>
       <span class="bar" style="width: 80%;"></span>
      <% elsif @comments.average(:houserule_review).round(1) > 3 %>
       <span class="bar" style="width: 60%;"></span>
      <% elsif @comments.average(:houserule_review).round(1) > 2%>
       <span class="bar" style="width: 40%;"></span>
      <% elsif @comments.average(:houserule_review).round(1) > 1 %>
       <span class="bar" style="width: 20%;"></span>
      <% elsif @comments.average(:houserule_review).round(1)== 0 %>
       <span class="bar" style="width: 0%;"></span>
     <% end %>
  </div>
</div>
<div class="review_content">
  <h5 class="review_item">所在地 <%= @comments.average(:location_review).round(1)%></h5>
  <div class="graph review_item">
  <% if @comments.average(:location_review).round(1) == 5 %>
  <span class="bar" style="width: 100%;"></span>
  <% elsif @comments.average(:location_review).round(1) > 4 %>
    <span class="bar" style="width: 80%;"></span>
  <% elsif @comments.average(:location_review).round(1) > 3 %>
    <span class="bar" style="width: 60%;"></span>
  <% elsif @comments.average(:location_review).round(1) > 2%>
    <span class="bar" style="width: 40%;"></span>
  <% elsif @comments.average(:location_review).round(1) > 1 %>
    <span class="bar" style="width: 20%;"></span>
  <% elsif @comments.average(:location_review).round(1)== 0 %>
    <span class="bar" style="width: 0%;"></span>
  <% end %>
  </div>
</div>
<div class="review_content">
 <h5 class="review_item" >人間関係 <%= @comments.average(:com_review).round(1)%></h5>
    <div class="graph review_item">
     <% if @comments.average(:com_review).round(1) == 5 %>
      <span class="bar" style="width: 100%;"></span>
      <% elsif @comments.average(:com_review).round(1) > 4 %>
       <span class="bar" style="width: 80%;"></span>
      <% elsif @comments.average(:com_review).round(1) > 3 %>
       <span class="bar" style="width: 60%;"></span>
      <% elsif @comments.average(:com_review).round(1) > 2%>
       <span class="bar" style="width: 40%;"></span>
      <% elsif @comments.average(:com_review).round(1) > 1 %>
       <span class="bar" style="width: 20%;"></span>
      <% elsif @comments.average(:com_review).round(1)== 0 %>
       <span class="bar" style="width: 0%;"></span>
     <% end %>
    </div>
</div>
</div>

  <% @comments.each do |comment|%>
    <div class="card mx-auto card-columns card-dec m-3" style="max-width: 70%;" >
      <ul class="list-group list-group-flush pl-5 pr-5">
        <li class=" list-group-item">
          <div class="row" >
            <div class="col-6 ">
              <h4 class=""><%= image_tag comment.user.user_icon.url,class:" icon",size: "50x50"%> <%= comment.user.name%></h4>
            </div>
            <div class="col-6 d-flex align-items-center " >
              <% if comment.type.present? %>
                <p class="btn-experience mt-2">内覧</p>
              <% else %>
                <p class="btn-experience mt-2">以前住んでいた</p>
              <% end %>
            </div>
          </div>
          <div class="pull-right">
          <% if comment.user_id == current_user&.id %>
            <%= link_to '編集', edit_house_comment_path(house_id: params[:house_id],id:comment.id),class:"text-right"%>
            <%= link_to '削除', house_comment_path(house_id: params[:house_id],id:comment.id),method: :delete, data: { confirm: "削除しますか?" },class:"text-right" %>
          <% end %>
          </div>
        </li>
        <li class="list-group-item">
          <div id="star-rate<%= comment.id%>"></div>    
          <script>
            $('#star-rate<%= comment.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : true,
              readOnly: true,
              score: <%= comment.star %>,
            });
          </script>
        </li>
        <li class="list-group-item">
          <h5><%= comment.title%></h5>
          <p><%= comment.content%></p>
          <p class="text-right"><%= comment.created_at.strftime('%Y/%m/%d')%></p>
        </li>
      </ul>
    </div>
  <% end %>
</div>
<% else %>
  <div class=" text-center m-3"> 
  <%= link_to '口コミを投稿する', new_house_comment_path(house_id: params[:house_id]),class:"btn comment_btn text-center"%>
  </div>
  <p class="no-comment">口コミが投稿されていません</p>
<% end %>