<%= form_with model: @house, local: true do |form| %>
  <div>
    <%= form.label :name, "物件名" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :house_image, "物件画像" %>
    <%= form.file_field :house_image,accept: "image/png,image/jpeg,image/gif" %>
  </div>
  <div>
    <%= form.label :house_rent, "家賃" %>
    <%= form.text_field :house_rent %>円
  </div>
  <div>
    <%= form.label :service_fee, "共益費" %>
    <%= form.text_field :service_fee %>円
  </div>
  <div>
    <%= form.label :area_id %>
    <%= form.collection_select :area_id, Area.all, :id, :name,include_blank: "エリアを選択して下さい" %>
  </div>
  <div>
    <%= form.label :address, "住所" %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :station, "最寄駅" %>
    <%= form.text_field :station %>
  </div>
  <div>
    <%= form.label :access, "最寄駅までの徒歩距離" %>
    <%= form.text_field :access %>分
  </div>
  <div>
    <%= form.label :house_size, "世帯数" %>
    <%= form.text_field :house_size %>世帯
  </div>
  <div>
    <%= form.label :convenience, "物件周辺情報" %>
    <%= form.text_area :convenience %>
  </div>
  <div>
    <%= form.label :content, "その他物件情報" %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.label :kitchen, "キッチン" %>
    <%= form.number_field :kitchen,:value => 0,min:"0",max:"20" %>
  </div>
  <div>
    <%= form.label :refrigerator, "冷蔵庫" %>
    <%= form.number_field :refrigerator,:value => 0,min:"0",max:"20"  %>
  </div>
  <div>
    <%= form.label :laundry, "洗濯機" %>
    <%= form.number_field :laundry,:value => 0,min:"0",max:"20"  %>
  </div>
  <div>
    <%= form.label :dryer, "乾燥機" %>
    <%= form.number_field :dryer,:value => 0,min:"0",max:"20"  %>
  </div>
  <div>
    <%= form.label :toilet, "トイレ" %>
    <%= form.number_field :toilet,:value => 0,min:"0",max:"20"  %>
  </div>
    <div>
    <%= form.label :shower, "シャワー" %>
    <%= form.number_field :shower,:value => 0,min:"0",max:"20" %>
  </div>
  <div>
    <%= form.label :bathroom, "浴室" %>
    <%= form.number_field :bathroom,:value => 0,min:"0",max:"20" %>
  </div>

  <div class="field">
    <%= form.label :facilities, "共用設備" %><br />
    <%= collection_check_boxes(:house, :facility_ids, Facility.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>
  <h3>部屋情報入力</h3>
 
  <div id="house_rooms_box">
    <%= form.fields_for :rooms do |i| %>
      <div class="js-house_room" id="add_room_' + room_count + '">
        <div>
          <%= i.label :room_num, "部屋番号" %>
          <%= i.text_field :room_num,class: 'form-control', required: true %>
        </div>
        <div class="field">
          <span>空室状況をお選びください</span><br>
          <div>
            <%= i.radio_button :vacancy, :vacancy, checked: "checked" %>
            <%= i.label :vacancy,"空室" %>
          </div>
          <div>
            <%= i.radio_button :vacancy, :no_vacancy %>
            <%= i.label :no_vacancy,"満室" %>
          </div>
        </div>
        <div>
          <%= i.label :image, "部屋画像" %>
          <%= i.file_field :image,accept: "image/png,image/jpeg,image/gif",class: 'form-control' %>
        </div>
        <div>
          <%= i.label :size, "広さ（単位：m²)" %>
          <%= i.text_field :size,class: 'form-control', required: true %>m²
        </div>
        <div>
          <%= i.label :rent, "家賃" %>
          <%= i.text_field :rent,class: 'form-control', required: true %>円
        </div>
        <div class="field">
          <span>お部屋タイプをお選びください</span><br>
          <div>
            <%= i.radio_button :room_type, :private_room, checked: "checked" %>
            <%= i.label :private_room,"個室" %>
          </div>
          <div>
            <%= i.radio_button :room_type, :domitory %>
            <%= i.label :domitory,"ドミトリー" %>
          </div>
          <div>
            <%= i.radio_button :room_type, :room_share %>
            <%= i.label :room_share,"ルームシェア" %>
          </div>
        </div>

      </div>
    <% end %>
    </div>
  </div>
  <div>
    <%= form.submit button_value,class: "btn btn-block" %>
  </div>
<% end %>


