<%= form_with model: @house, local: true do |form| %>
  <div>
    <%= form.label :name, "物件名" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :house_image, "物件画像" %>
    <%= form.file_field :house_image,accept: "image/png,image/jpeg,image/gif" %>
  </div>
  <div>
    <%= form.label :house_rent, "家賃" %>
    <%= form.text_field :house_rent %>
  </div>
  <div>
    <%= form.label :service_fee, "共益費" %>
    <%= form.text_field :service_fee %>
  </div>
  <div>
    <%= form.label :area_id %>
    <%= form.collection_select :area_id, Area.all, :id, :name,include_blank: "エリアを選択して下さい" %>
  </div>
  <div>
    <%= form.label :address, "住所" %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :station, "最寄駅" %>
    <%= form.text_field :station %>
  </div>
  <div>
    <%= form.label :access, "最寄駅までの徒歩距離" %>
    <%= form.text_field :access %>分
  </div>
  <div>
    <%= form.label :house_size, "世帯数" %>
    <%= form.text_field :house_size %>世帯
  </div>
  <div>
    <%= form.label :convenience, "物件周辺情報" %>
    <%= form.text_area :convenience %>
  </div>
  <div>
    <%= form.label :content, "その他物件情報" %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.label :kitchen, "キッチン" %>
    <%= form.number_field :kitchen,:value => 0,min:"0",max:"20" %>
  </div>
  <div>
    <%= form.label :refrigerator, "冷蔵庫" %>
    <%= form.number_field :refrigerator,:value => 0,min:"0",max:"20"  %>
  </div>
  <div>
    <%= form.label :laundry, "洗濯機" %>
    <%= form.number_field :laundry,:value => 0,min:"0",max:"20"  %>
  </div>
  <div>
    <%= form.label :dryer, "乾燥機" %>
    <%= form.number_field :dryer,:value => 0,min:"0",max:"20"  %>
  </div>
  <div>
    <%= form.label :toilet, "トイレ" %>
    <%= form.number_field :toilet,:value => 0,min:"0",max:"20"  %>
  </div>
    <div>
    <%= form.label :shower, "シャワー" %>
    <%= form.number_field :shower,:value => 0,min:"0",max:"20" %>
  </div>
  <div>
    <%= form.label :bathroom, "浴室" %>
    <%= form.number_field :bathroom,:value => 0,min:"0",max:"20" %>
  </div>

  <div class="field">
    <%= form.label :facilities, "共用設備" %><br />
    <%= collection_check_boxes(:house, :facility_ids, Facility.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>




  <div>
    <%= form.submit button_value,class: "btn btn-block" %>
  </div>


<% end %>
