<%# レイアウト修正%>
<div class="m-3">

<hr>
<h3><%= @house.name %>
  <% if @house.area_id %>
    /<%= @house.area.name%>
  <% end %>
</h3>
<h5 class="flex">
  <span id="star-rate" ></span>
  <%= @average_comment%> <i class="fas fa-comment-dots"></i><%= @house.comments.count%> 件 <i class="fas fa-bookmark"></i>
  <span id="housecount-<%= @house.id %>">
      <% if @house.cliped_by(current_user) %>
        <%= render 'houses/clips_count',house: @house %>
      <% else %>
        <%= render 'houses/not_clip_count',house: @house %>
      <% end %>
  </span>
</h5>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 ">
      <h5> <%= @house.house_rent %>円<small>/管理費・共益費：<%= @house.service_fee %>円</small></h5>
      <h6> <%= @house.station %>駅,徒歩<%= @house.access%>分</h6>
    </div>
    <div class="col-6 text-right">
      <p id="house-<%= @house.id %>">
        <% if @house.user_id == current_user.id %>
          <%= link_to  edit_house_path(@house),class:"btn btn-outline-success" do %>
            <i class="fas fa-edit"></i>編集
          <% end %>
          <%= link_to  @house, method: :delete, data: { confirm: "削除しますか?" },class:"btn btn-outline-success"  do%>
            <i class="fas fa-trash-alt"></i>削除
          <% end %>
        <% else %>
          <% if @house.cliped_by(current_user) %>
            <%= render 'houses/clips',house: @house %>
          <% else %>
            <%= render 'houses/not_clip',house: @house %>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
   <%= link_to '物件情報', "#",class:"btn btn-outline-secondary col-3" %>
    <%= link_to '部屋情報', "#",class:"btn btn-outline-secondary col-3"  %>
    <%= link_to '口コミ', house_comments_path(house_id:@house.id),class:"btn btn-outline-secondary col-3"  %>
    <%= link_to '周辺情報', "#",class:"btn btn-outline-secondary col-3"  %>
  </div>
</div>

<script>
  $('#star-rate').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    half      : false,
    readOnly: true,
    score: <%= @average_comment %>,
  });
</script>