<h3 class="ml-3 mb-4">エリアから探す</h3>
<div class="card mb-5 ml-3" style="width:80%;">
  <div class="card-body">
    <h3 class="card-title ml-2">東京 <span class="h5"><%=@houses.count %>件</span> </h3>
    <p class="card-text">
      <% @areas.zip(@houses) do|area,house|%>
      <%= link_to "#{area.name}", houses_path(q: { area_id_eq: area.id}), class: 'btn  btn-outline-secondary m-1'%>
      <% end %>
    </p>
  </div>
</div>

<h3 class="ml-3 mb-4">こだわり条件から探す</h3>
<div class="card mb-5 ml-3" style="width:80%;">
  <div class="card-body">
 
<%= search_form_for @q do |f|%>
  <%= link_to "大人数", houses_path(q: { house_size_gteq: 20}), class: 'btn  btn-outline-secondary m-1'%>
  <%= link_to "駅近", houses_path(q: { access_lteq: 5}), class: 'btn  btn-outline-secondary m-1'%>
  <%= link_to "８畳以上のお部屋", houses_path(q: { rooms_size_gteq: 12.96}), class: 'btn  btn-outline-secondary m-1'%>
  <%= link_to "個室", houses_path(q: {rooms_room_type_eq: 1}), class: 'btn  btn-outline-secondary m-1'%>
  <%= link_to "家賃５万円以下", houses_path(q: { rooms_rent_lteq: 50000}), class: 'btn  btn-outline-secondary m-1'%>
  <%= link_to "プライバシー充実", houses_path(q: { content_cont_any: ["オートロック", "鍵","ホームセキュリティ"]}), class: 'btn  btn-outline-secondary m-1'%>
  <%= link_to "コミュニティ重視", houses_path(q: { content_cont_any: ["イベント", "パーティー"]}), class: 'btn  btn-outline-secondary m-1'%>
<% end %>
  






  </div>
</div>