
<div class="house_list">
  <% @houses.each do |house| %>
    <%= link_to house, class:"card border-light mb-3 card-columns card-dec Editlink", style:"max-width: 80%; border-width:5px 0 0 0;" do %>
      <div class="card-header"><%= house.name %> / <%= house.area.name%></div>
      <div class="card-body">
        <div class="row">
          <%= image_tag house.house_image.url,class:"col-3" %>
          <div class="col-9 ">
            <p class="card-text">賃料 <%= house.house_rent %>円</p>
            <p class="card-text">アクセス <%= house.station %>駅 / 徒歩<%= house.access %>分</p>
            <p class="card-text">☆☆☆☆☆☆</p>
            <p>最新の口コミ１件</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>





