




<% if @houses.count==0 %>
  <div style="height: 450px">
    <p class="text-center my-5">検索に該当する物件は登録されていません。</p>
  </div>
<% elsif %>
<div style="max-width:50% " class="mx-auto">
<h4 class="my-3 pl-3">検索結果 <%= @result.count%>件</h4>
</div>

<div class="row mt-5 mx-auto my-0" style="max-width:50%">
<p class=" mx-auto"><%= sort_link(@q, :house_rent, '家賃順', default_order: :asc ,class: "col-4 Editlink") %></p>
<p class="mx-auto"><%= sort_link(@q, :access, '駅からの距離順', default_order: :asc,class: "col-4  ") %></p>
<p class="mx-auto"> <%= sort_link(@q, :clips_count, '保存済み順', default_order: :asc,class: "col-4 ")%></p>
</div>
<hr style="max-width:50%"class="mt-0" >
<%= render :partial => "house_list", :locals => { houses: @houses }  %>
  <%= paginate @houses  %>
<% end %>




<%=%>



