<h1>投稿一覧</h1>
<table>
  <thead>
    <tr>
      <th scope="col">物件名</th>
      <th scope="col">画像</th>
      <th scope="col">家賃</th>
      <th scope="col">最寄駅</th>
      <th scope="col">最寄駅からの徒歩距離</th>
    </tr>
  </thead>
  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <th scope="row"><%= house.name %></th>
         <% if house.house_image? %>
          <td><%= image_tag house.house_image.url %></td>
         <% end %>
        <td><%= house.house_rent %></td>
        <td><%= house.station %></td>
        <td><%= house.access %></td>
        <td><%= link_to "詳細", house %></td>
      </tr>
    <% end %>
  </tbody>
</table>


