<%= render 'house_info' %>
<% if current_user.id == @house.user.id %>
  <%= link_to '部屋情報を追加',  new_house_room_path(house_id:@house.id) %>
<% end %>

<% if @rooms.empty? %>
  <div style="height:500px;" class="d-flex align-items-center ">
    <p class="m-auto"> こちらの物件には、お部屋情報が登録されておりません。</p>
  </div>
<% end %>

<table class="table table-bordered text-center mt-5">
  <thead>
    <tr>
      <th></th>
      <th scope="col">空席状況</th>
      <th scope="col">部屋番号</th>
      <th scope="col">部屋タイプ</th>
      <th scope="col">広さ</th>
      <th scope="col">家賃</th>
      <th scope="col">写真</th>
    </tr>
  </thead>
    <% @rooms.each do |room|%>
  <tbody >
    <tr>
    <td >
    <%= link_to '部屋情報を追加',  edit_house_room_path(house_id:@house.id id:@room) %>
    削除
    </td>
      <td>
      <% if room.vacancy? %>
        <p>空室</p>
      <% else %>
        <p> 満室</p>
      <% end %>
      </td>
      <td><%= room.room_num%></td>
      <td>
        <% if room.private_room? %>
          <p>個室</p>
        <% elsif room.domitory? %>
          <p>ドミトリー</p>
        <% else %>
          <p>ルームシェア</p>
        <% end %>
      </td>
      <td><%= room.size%>m²</td>
      <td><%= room.rent%>円</td>
      <td><%=  image_tag room.image.to_s,size:'100x100' %> </td>
    </tr>
  </tbody>
  <% end %>
</table>






