<%= render 'house_info' %>
<% if @house.house_image? %>
  <p class="text-center mt-3"><%= image_tag @house.house_image.url %></p>
<% end %>


<table class="table w-75 ">
  <tr><th class="bg-light text-center " >エリア</th><td>area</td></tr>
  <tr><th class="bg-light text-center">入居条件</th><td>、、、、</td></tr>
  <tr><th class="bg-light text-center">世帯数</th><td><%= @house.house_size %>世帯</td></tr>
  <tr><th class="bg-light text-center">共有設備</th><td>といれ、、、、、、、</td></tr>
  <tr><th class="bg-light text-center">入居者条件</th><td>、、、、、、</td></tr>
  <tr><th class="bg-light text-center">物件投稿者</th><td><%= @house.user.name%></td></tr>
  <tr><th class="bg-light text-center">その他情報</th><td><%= @house.content%></td></tr>
</table>
</div>