<%# レイアウト修正%>
<div class="m-3">

<hr>
<h3><%= @house.name %>
  <% if @house.area_id %>
    /<%= @house.area.name%>
  <% end %>
</h3>
<h5>☆☆☆☆☆☆ 3.5 <i class="fas fa-comment-dots"></i> 3件 <i class="fas fa-bookmark"></i> 3件</h5>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 ">
      <h5> <%= @house.house_rent %>円<small>/管理費・共益費：<%= @house.service_fee %>円</small></h5>
      <h6> <%= @house.station %>駅,徒歩<%= @house.access%>分</h6>
    </div>
    <div class="col-6 text-right">
      <p>
        <%= link_to "#",class:"btn btn-outline-warning" do  %>
          <i class="fas fa-bookmark"></i> 保存 
        <% end %>
        <% if @house.user_id == current_user.id %>
          <%= link_to  edit_house_path(@house),class:"btn btn-outline-success" do %>
            <i class="fas fa-edit"></i>編集
          <% end %>
          <%= link_to  @house, method: :delete, data: { confirm: "削除しますか?" },class:"btn btn-outline-success"  do%>
            <i class="fas fa-trash-alt"></i>削除
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<p id="house-<%= @house.id %>">
<% if @house.cliped_by(current_user) %>
  <%= render 'clips',house: @house %>
<% else %>
  <%= render 'not_clip',house: @house %>
<% end %>
</p>

 





<div class="container-fluid">
  <div class="row">
   <%= link_to '物件情報', "#",class:"btn btn-outline-secondary col-3" %>
    <%= link_to '部屋情報', "#",class:"btn btn-outline-secondary col-3"  %>
    <%= link_to '口コミ', "#",class:"btn btn-outline-secondary col-3"  %>
    <%= link_to '周辺情報', "#",class:"btn btn-outline-secondary col-3"  %>
  </div>
</div>

<% if @house.house_image? %>
  <p class="text-center mt-3"><%= image_tag @house.house_image.url %></p>
<% end %>

<table class="table w-75 ">
  <tr><th class="bg-light text-center " >エリア</th><td>area</td></tr>
  <tr><th class="bg-light text-center">入居条件</th><td>、、、、</td></tr>
  <tr><th class="bg-light text-center">世帯数</th><td><%= @house.house_size %>世帯</td></tr>
  <tr><th class="bg-light text-center">共有設備</th><td>といれ、、、、、、、</td></tr>
  <tr><th class="bg-light text-center">入居者条件</th><td>、、、、、、</td></tr>
  <tr><th class="bg-light text-center">物件投稿者</th><td><%= @house.user.name%></td></tr>
  <tr><th class="bg-light text-center">その他情報</th><td><%= @house.content%></td></tr>
</table>
</div>