<div class="card mx-auto my-5 " style="max-width: 70%;">
  <div class="card-body ">
    <div class="row mx-2">
      <%= image_tag @user.user_icon.url,class:" icon",size: "100x100"%>
      <div class="col-9 ">
        <h3 class="card-title"><%= @user.name%>さんのマイページ</h3>     
        <h6 class="card-subtitle mb-2 text-muted">
        <% if @user.admin? %>
        <h6 class="card-subtitle  text-muted">管理者権限 / 有</h6>
        <% else %>
          <h6 class="card-subtitle  text-muted">管理者権限 / 無</h6>
        <% end %>
        </h6>
        <p class="card-text m-0"><%= @user.adress%>在住</p>
        <% if @user.experience.present? %>
          <p class="card-text  mb-3">シェアハウス経験あり</p>
        <% else %>
        <p class="card-text  mb-3"> シェアハウス経験無し</p>
        <% end %>
      </div>
    </div>
    <div class="container-fluid mx-auto ">
      <div class="row">
        <% if @user.admin? %>
          <%= MypageAdminLink(users_path(@user.id),@houses,"登録物件")%>
          <%= MypageAdminLink(comments_users_path,@comments,"レビュー物件")%>
          <%= MypageAdminLink(clips_users_path,@clips,"保存済み")%>
          <%= link_to 'アカウント編集', edit_user_registration_path ,class:"btn btn-outline-dark col-3" %>
        <% else %> 
          <%= MypageLink(comments_users_path,@comments,"レビュー物件")%>
          <%= MypageLink(clips_users_path,@clips,"保存済み")%> 
          <%= link_to 'アカウント編集', edit_user_registration_path ,class:"btn btn-outline-dark col-4" %> 
        <% end %>
      </div>
    </div>
  </div>      
</div>





















