<%# ユーザー情報パート%>
<%= render 'user_info' %>
<%# 投稿物件一覧パート %>
<div id='houseclips'>
  <div class="bottom_content">
      <% @houses.each do |house| %>
        <%= link_to house, class:"card border-light mt-3 card-columns card-dec Editlink left", style:"max-width: 90%; border-width:5px 0 0 0;" do %>
          <div class="card-header"><%= house.name %>/エリア</div>
          <div class="card-body">
            <div class="row">
              <%= image_tag house.house_image.url,class:"col-3" %>
              <div class="col-9 ">
                <p class="card-text">賃料 <%= house.house_rent %>円</p>
                <p class="card-text">アクセス <%= house.station %>駅 / 徒歩<%= house.access %>分</p>
                <p class="card-text">☆☆☆☆☆☆</p>
                <p>最新の口コミ１件</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="right mt-3 ml-3 pl-3" >
      <% if @user.admin? %>
        <p>物件投稿件数 <%= @myhouse.count%>件 </p>
      <% end %>
      <p>保存件数 <%= @cliphouse.count%>件</p>
      <p>レビュー件数<%= @houses.count%>件</p>
      </div>
  </div>
</div>