<div>
  <div class="jumbotron jumbotron-extend-login">
    <div class="container-fluid jumbotron-container-login">
       <div class="container login_page">
        <div class="card card-container login_card">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",id:"inputEmail",class:"form-control", placeholder:"Email address" %>

                <%= f.password_field :password, autocomplete: "current-password",id:"inputPassword", class:"form-control", placeholder:"Password" %>
                <% if devise_mapping.rememberable? %>
                  <div id="remember" class="checkbox">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>               
                <div class="actions">
                  <%= f.submit t('.sign_in'),class:"btn btn-lg btn-primary btn-block btn-signin" %>
                </div>
            </form><!-- /form -->
        <% end %>
        <hr>
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-outline-secondary my-2 gest_btn" %>
        <%= render "devise/shared/links" %>
        </div><!-- /card-container -->
    </div><!-- /container -->
    </div>
  </div>
</div>




