<!DOCTYPE html>
<html>
  <head>
    <title>ShareHouseApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>


  <body>
    <%= link_to "投稿一覧", houses_path %> <%= link_to "新規投稿", new_house_path %>
    <hr>
    <%= yield %>
  </body>
</html>
